<strong>Hi, {{ student }}</strong>
<p>Congratulations, your registration was successful</p>
<p>Check your plan information below:</p>
<p>
    <strong>Plan: </strong> {{ title }} <br />
    <strong>Date of start: </strong> {{ start }} <br />
    <strong>Date of end: </strong> {{ end }} <br />
    <strong>Price: </strong> $ {{ price }} <br />
</p>
